.board{
    width:570px;
    height:570px;
    display:grid;
    border:1px solid black;
}

.content{
    display:flex;
    flex-direction: column;
    align-items: center;
    
}
h1{
    text-align: center;
    font-size:45px;
    margin-top:25px;
    margin-bottom:25px;
    
}


.content > .buttons{
    display:flex;
    justify-content: space-around;
    gap:10px;
    
    margin-top:30px;
   
    width:570px;
}
.stylingB{
    width:200px;
    height:70px;
    color:black;
    background-color:white;
    border:2px solid black;
    font-weight: 800;
    font-size:25px;
    border-radius: 10px;
}
.stylingB:hover{
    transform:scale(1.1);
    background-color: black;
    color:white;
    
}
.submit{
    display:flex;
    flex:1 1 auto;
    align-items: center;;
    width:300px;
    height:54.5px;
    color:black;
    background-color:white;
    border:1px solid black;
    font-weight: 800;
    font-size:20px;
    justify-content: center;
    border-radius: 5px;
}
.submit:hover{transform:scale(1.1);
    background-color: black;
    color:white;

}


.selectSize{
    width:600px;
    font-size: 22px;
    text-align: center;
    margin-top:20px;
    margin-bottom:10px;
    color:black;
}

.input{
    width:570px;
    display:flex;
    align-items: flex-end;
    
    
}
#change{
    width:400px;
    height:50px;
    margin-top:20px;
    font-size: 40px;
    margin-bottom: auto;
    border:1px solid black;
    border-radius: 5px;
   
}



body{
    
    background-image: white;
}

#error{
    font-size: 22px;
    color:black;
    width:600px;
    text-align: center;
}